@import "../../../styles.scss";

section {
    @include dFlex();
    flex-direction: column;
    margin-top: 60px;
    .heading {
        @include dFlex();
        position: relative;
        width: 100%;
        height: 100px;
        img {
            position: absolute;
            width: 100%;
        }
        h1 {
            position: relative;
            font-size: 32px;
            color: #1E5515;
            font-weight: 600;
        }
    }
    .ingredients {
        @include dFlex($ai: flex-start);
        gap: 80px;
        >div {
            p {
                font-size: 24px;
                color: #008000;
                font-weight: 600;
            }
            span {
                font-size: 24px;
                color: #10310B;
            }
        }
    }
}

@media (max-width: $mobile-width) {
    section {
        margin-top: 40px;
        .heading {
            h1 {
                font-size: 24px;
            }
        }
        .ingredients {
            flex-direction: column;
            width: 100%;
            gap: 24px;
            p {
                font-size: 18px !important;
                margin-top: 0;
            }
            span {
                font-size: 16px !important;
            }
            ul {
                margin: 0;
            }
        }
    }
}