<section>
    <div class="heading">
        <img [src]="imageSrc" alt="">
        <h1>Ingredients</h1>
    </div>
    <div class="ingredients">
        <div class="yours">
            <p>Your ingredients</p>
            <ul>
                <li *ngFor="let ing of data.yourIngredients">
                    <span>{{ing.quantity}}{{ing.unit}} {{ing.name}}</span>
                </li>
            </ul>
        </div>
        <div class="extra">
            <p>Extra ingredients</p>
            <ul>
                <li *ngFor="let ing of data.extraIngredients">
                    <span>{{ing.quantity}}{{ing.unit}} {{ing.name}}</span>
                </li>
            </ul>
        </div>
    </div>
</section>