@import "../../../styles.scss";

:host {
    @include dFlex($ai: flex-start); 
    gap: 8px;
    * {
        font-weight: 500;
    }
} 

input, .dropdown {
    color: #10310B;
    font-size: 18px;
}

input, .unit {
    border-radius: 48px;
    background-color: #FAF0E6;
    height: calc(36px - 3px * 2);
    padding: 3px 12px;
}

input {
    width: calc(72px - 12px * 2);
    border: none;
    text-align: center;
}

.dropdown {
    @include dFlex();
    flex-direction: column;
    gap: 4px;
    .unit {
        @include dFlex();
        width: calc(80px - 12px * 2);
        gap: 4px;
    }
    &:hover {
        cursor: pointer;
    }
    * {
        cursor: pointer;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 14px;
        li {
            padding: 2px 8px;
            width: 40px;
            text-align: center;
            &:hover {
                background-color: #faf0e6cc;
                border-radius: 20px;
                cursor: pointer;
            }
        }
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}