<section>
    <h1>Generate recipe</h1>
    <p>Got random stuff in your kitchen? Pop it in—we’ve got the perfect recipe waiting.</p>
    <div class="fields">
        <div class="input">
            <div class="ingredients">
                <p>Ingredient</p>
                <input type="text">
            </div>
            <div class="serving">
                <p>Serving size</p>
                <div class="serving-input">
                    <app-serving></app-serving>
                    <img src="/assets/images/generate-recipe/servings-plus.png" alt="">
                </div>
            </div>
        </div>
        <div class="ingredient-list">
            <p>List of your Ingredients</p>
            <div class="items">
                <app-single-ingredient *ngFor="let ingredient of ingredients"></app-single-ingredient>
            </div>
        </div>
    </div>
    <div class="button">
        <button routerLink="/preferences">Next step</button>
    </div>
</section>
