@import "../../styles.scss";

:host {
    @include dFlex(); 
}

section {
    @include contentLimit();
    text-align: center;
    flex-direction: column;
    h1 {
        font-size: 54px;
        color: #1E5515;
        margin-bottom: 0;
    }
    p {
        font-size: 24px;
        color: #10310B;
    }
    .fields {
        @include dFlex($ai: flex-start, $jc: unset);
        gap: 56px;
        margin: 90px;
        font-weight: 500;
        >div {
            background-color: #3960394D;
            border-radius: 20px;
            padding: 25px;
            font-size: 20px;
            color: #10310B;
            p {
                margin-bottom: 8px;
                margin-top: 0;
                font-size: 20px;
                color: #10310B;
            }
        }
    }
}

.input {
    @include dFlex($ai: flex-start, $jc: space-between);
    min-height: 160px;
    gap: 32px;
    width: 60%;
    >div {
        text-align: start;
        flex-direction: column;
    }
    input {
        border-radius: 20px;
        border: none;
        background-color: #FAF0E6;
        padding: 8px 12px;
        font-weight: 500;
        color: #10310B;
    }
}

.ingredients {
    width: 100%;
    input {
        width: calc(100% - 12px * 2);
        font-size: 16px;
    }
}

.serving {
    .serving-input {
        @include dFlex($ai: flex-start);
        gap: 8px;
        img:hover {
            cursor: pointer;
            background-color: #FAF0E6CC;
            border-radius: 5px;
        }
    }
}

.ingredient-list {
    min-height: 200px;
    width: 400px;
    text-align: start;
    .items {
        display: grid;
        gap: 6px;
    }
}

.button {
    @include dFlex($ai: flex-end);
    margin-right: 90px;
    flex-direction: column;
    button {
        background-color: #396039;
        border: none;
        color: #FAF0E6;
        font-size: 24px;
        padding: 16px 26px;
        &:hover {
            background-color: #055E05;
            color: white;
        }
    }
    .error-message {
        color: #c01616 !important;
        font-weight: 600;
        margin-top: 6px;
        font-size: 20px;
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
