@import "../../styles.scss";

:host {
    @include dFlex(); 
}

section {
    @include contentLimit();
    text-align: center;
    flex-direction: column;
    overflow-x: hidden;
    h1 {
        font-size: 54px;
        color: #1E5515;
        margin-bottom: 0;
        font-weight: 600;
    }
    >p {
        font-size: 24px;
        font-weight: 600;
        color: #10310B;
    }
    .fields {
        @include dFlex($ai: flex-start);
        gap: 56px;
        margin: 70px;
        font-weight: 500;
        >div {
            background-color: #3960394D;
            border-radius: 20px;
            padding: 25px;
            font-size: 20px;
            color: #10310B;
            p {
                margin-bottom: 8px;
                margin-top: 0;
                font-size: 20px;
                color: #10310B;
            }
        }
    }
}

.input {
    @include dFlex($ai: flex-start, $jc: space-between);
    min-height: 160px;
    gap: 32px;
    width: 60%;
    >div {
        text-align: start;
        flex-direction: column;
    }
    input {
        border-radius: 20px;
        border: none;
        background-color: #FAF0E6;
        padding: 8px 12px;
        font-weight: 500;
        color: #10310B;
    }
}

.ingredients {
    width: 100%;
    input {
        width: calc(100% - 12px * 2);
        min-width: 130px;
        font-size: 16px;
    }
}

.serving {
    .serving-input {
        @include dFlex($ai: flex-start);
        gap: 8px;
        img:hover {
            cursor: pointer;
            background-color: #FAF0E6CC;
            border-radius: 5px;
        }
    }
}

.ingredient-list {
    min-height: 180px;
    width: 400px;
    text-align: start;
    .items {
        display: grid;
        gap: 6px;
    }
    p {
        white-space: nowrap;
    }
}

.button {
    @include dFlex($ai: flex-end);
    margin-right: 90px;
    flex-direction: column;
    button {
        background-color: #396039;
        border: none;
        color: #FAF0E6;
        font-size: 24px;
        padding: 16px 26px;
        &:hover {
            background-color: #055E05;
            color: white;
        }
    }
    .error-message {
        color: #c01616 !important;
        font-weight: 600;
        margin-top: 6px;
        font-size: 20px;
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 1000px) {
    .fields {
        margin: 60px 0 !important;
        gap: 30px !important;
    }
}

@media (max-width: $mobile-width) {
    section {
        padding: 0 16px;
        h1 {
            font-size: 32px;
        }
        >p {
            font-size: 18px;
            margin-bottom: 40px;
        }
        .button {
            align-items: center;
            margin: 40px 0;
            button {
                font-size: 16px;
            }
        }
        .fields {
            flex-direction: column;
            margin: 0;
            gap: 24px;
            .ingredient-list {
                width: calc(100% - 50px);
                min-height: 130px;
                p {
                    font-size: 18px;
                    margin-bottom: 24px;
                }
            }
        }
    }

    .input {
        flex-direction: column;
        width: calc(100% - 50px);
        gap: 16px;
        min-height: unset;
        p {
            font-size: 18px !important;
        }
    }
}