@import "../../styles.scss";

:host {
    @include dFlex();
}

section {
    @include dFlex();
    @include contentLimit();
    flex-direction: column;
    font-weight: 500;
    gap: 90px;
    margin-top: 20px;
    .header {
        @include dFlex();
        height: 222px;
    }
    .results {
        @include dFlex();
        gap: 24px;
    }
}

.text {
    @include dFlex($ai: flex-start, $jc: space-between);
    flex-direction: column;
    height: 100%;
    h1 {
        font-size: 54px;
        font-weight: 600;
        color: #FAF0E6;
        margin: 0;
    }
    p {
        font-size: 24px;
        color: #FAF0E6;
        margin: 10px 0;
    }
    .tags {
        @include dFlex();
        gap: 16px;
        span {
            background-color: #FAF0E6;
            padding: 6px 12px;
            border: none;
            border-radius: 30px;
            font-size: 18px;
            color: #1E5515
        }
    }
}
.new-recipe {
    @include dFlex($jc: flex-end);
    width: 100%;
    button {
        @include dFlex();
        font-size: 20px;
        color: #FAF0E6;
        gap: 10px;
        padding: 16px 26px;
        border: none;
        background: none;
        &:hover {
            background-color: #FAE0C633;
        }
    }
}
.loadingScreen {
    @include dFlex();
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 160px);
    .image-div {
        @include dFlex($ai: flex-end);
        width: 250px;
        height: 300px;
        background-color: #C4D0C4;
        border-radius: 20px;
        img {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    h2 {
        font-family: Ubuntu;
        font-size: 48px;
        color: #FAF0E6;
        font-weight: bold;
    }
}

@media (max-width: $mobile-width) {
    section {
        padding: 0 16px;
        gap: 48px;
        .header {
            flex-direction: column;
            height: unset;
            .text {
                gap: 16px;
                h1 {
                    font-size: 32px;
                }
                img {
                    width: 100%;
                }
                p {
                    font-size: 18px;
                    margin: 0;
                }
            }
        }
        .results {
            flex-direction: column;
            gap: 16px;
        }
    }
    .new-recipe {
        margin-bottom: 48px;
        justify-content: center;
        button {
            font-size: 18px;
        }
    }
    .loadingScreen {
        h2 {
            font-size: 36px;
        }
    }
}