@import "../../styles.scss";

:host {
    @include dFlex();
}

section {
    @include dFlex();
    @include contentLimit();
    flex-direction: column;
    font-weight: 500;
    .back {
        @include dFlex($jc: flex-start);
        width: 100%;
        gap: 10px;
        *:hover {
            cursor: pointer;
        }
        span {
            font-size: 14px;
            color: #1E5515;
        }
    }
    h1 {
        font-size: 28px;
        font-weight: 600;
        color: #10310B;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    >button {
        background-color: #396039;
        font-size: 24px;
        color: #FAF0E6;
        font-weight: 600;
        padding: 16px 26px;
        margin-top: 60px;
        border: none;
        &:hover {
            background-color: #055E05;
            color: white;
        }
    }
}

.quantities {
    @include dFlex($jc: space-between);
    max-width: 700px;
    width: 100%;
    gap: 20px;
    font-size: 20px;
    color: #10310B;
    .adjust {
        @include dFlex($jc: flex-start);
        gap: 8px;
        img {
            border-radius: 4px;
            &:hover {
                background-color: #E7ECE7;
                cursor: pointer;
            }
            &:active {
                background-color: #C4D0C4;
            }
        }
        .number {
            background-color: #39603933;
            width: 22px;
            text-align: center;
        }
    }
}

.preferences {
    display: grid;
    background-color: #39603933;
    padding: 32px 24px;
    gap: 40px;
    border-radius: 20px;
    margin-top: 32px;
    max-width: 700px;
    width: 100%;
    h2 {
        @include dFlex($jc: flex-start);
        color: #10310B;
        font-size: 24px;
        font-weight: 500;
        gap: 2px;
        margin: 0;
    }
    button {
        background-color: #FAF0E6;
        padding: 6px 12px;
        border-radius: 30px;
        font-size: 20px;
        border: none;
        color: #1E5515;
        &:hover {
            background-color: #FAE0C6;
        }
        &:active {
            background-color: #39603933;
        }
    }
    >div {
        @include dFlex($ai: flex-start); 
        flex-direction: column;
        gap: 24px;
        color: #1E5515;
    }
}

.options {
    @include dFlex($jc: flex-start);
    flex-wrap: wrap;
    gap: 20px;
    >div {
        @include dFlex();
        flex-direction: column;
        gap: 12px;
        span {
            font-size: 14px;
        }
    }
}

.active {
    background-color: #39603933 !important;
}

.error-message {
    color: #c01616 !important;
    font-weight: 600;
    margin-top: 6px;
    font-size: 20px;
}

@media (max-width: $mobile-width) {
    section {
        .back {
            margin-top: 8px;
        }
        padding: 0 16px;
        h1 {
            font-size: 24px;
            margin-top: 40px;
            margin-bottom: 24px;
            text-align: left;
            width: 100%;
        }
        .quantities {
            flex-direction: column;
            align-items: flex-start;
            p {
                font-size: 16px;
                margin: 0;
                margin-bottom: 8px;
            }
            .name {
                font-size: 18px;
            }
        }
        .options {
            gap: 8px;
        }
        .preferences {
            width: unset;
        }
        >button {
            margin: 40px 0;
            font-size: 16px;
        }
    }
}