<section>
    <div class="back">
        <img routerLink="/generate-recipe" src="/assets/images/preferences/back-arrow.png" alt="">
        <span *ngIf="!isMobile" routerLink="/generate-recipe">Ingredients</span>
    </div>
    <h1>Choose your preferences</h1>
    <div class="quantities">
        <div class="portions">
            <p>How many portions do you need?</p>
            <div class="adjust">
                <img (click)="adjustPortions(-1)" src="/assets/images/preferences/minus.png" alt="">
                <span class="number">{{ portions }}</span>
                <span class="name">Portions</span>
                <img (click)="adjustPortions(1)" src="/assets/images/preferences/plus.png" alt="">
            </div>
        </div>
        <div class="persons">
            <p>How many are cooking?</p>
            <div class="adjust">
                <img (click)="adjustPersons(-1)" src="/assets/images/preferences/minus.png" alt="">
                <span class="number">{{ persons }}</span>
                <span class="name">Person</span>
                <img (click)="adjustPersons(1)" src="/assets/images/preferences/plus.png" alt="">
            </div>
        </div>
    </div>
    <div class="preferences">
        <div class="cooking-time">
            <h2><img src="/assets/images/preferences/time.png" alt="">Cooking Time</h2>
            <div class="options">
                <div *ngFor="let t of cookingTimes; let i = index">
                    <button 
                        [class.active]="activeSelection.time === i"
                        (click)="setActive('time', i)">
                        {{t.label}}
                    </button>
                    <span>{{t.description}}</span>
                </div>
            </div>
        </div>
        <div class="cuisine">
            <h2><img src="/assets/images/preferences/cuisine.png" alt="">Cuisine</h2>
            <div class="options">
                <button *ngFor="let c of cuisines; let i = index"
                    [class.active]="activeSelection.cuisine === i"
                    (click)="setActive('cuisine', i)">
                    {{ c }}
                </button>
            </div>
        </div>
        <div class="diet">
            <h2><img src="/assets/images/preferences/diet.png" alt="">Diet preferences</h2>
            <div class="options">
                <button *ngFor="let d of diets; let i = index"
                    [class.active]="activeSelection.diet === i"
                    (click)="setActive('diet', i)">
                    {{ d }}
                </button>
            </div>
        </div>
    </div>
    <button (click)="generateRecipe()">Generate recipe</button>
    <p class="error-message" *ngIf="clicked && allPreferencesSelected">Please select your preferences!</p>
</section>