<section>
    <div class="back">
        <img routerLink="/results" src="/assets/images/preferences/back-arrow.png" alt="">
        <span routerLink="/results">Recipe results</span>
    </div>
    <div class="content">
        <app-header></app-header>
        <app-ingredients></app-ingredients>
        <app-instructions></app-instructions>
    </div>
    <div class="cookbook-link">

    </div>
    <div class="new-recipe">
        <span routerLink="/results">Generate new recipe</span>
        <img routerLink="/results" src="/assets/images/recipe/forward-arrow.png" alt="">
    </div>
</section>