<section>
    <div class="back">
        <img routerLink="/results" src="/assets/images/preferences/back-arrow.png" alt="">
        <span routerLink="/results">Recipe results</span>
    </div>
    <div class="content">
        <app-header [data]="headerObject"></app-header>
        <app-ingredients></app-ingredients>
        <app-instructions></app-instructions>
    </div>
    <div class="cookbook-link">
        <span>Find inspiration for your next culinary adventure!</span>
        <button routerLink="/cookbook">Cookbook</button>
    </div>
    <div class="new-recipe">
        <button routerLink="/generate-recipe">Generate new recipe<img src="/assets/images/recipe/forward-arrow.png" alt=""></button>
    </div>
</section>