@import "../../../styles.scss";

:host {
    // @include dFlex();
    // height: 30px;
    &:hover {
        cursor: pointer;
        background-color: #FAF0E6CC;
        border-radius: 5px;
    }
}

section {
    @include dFlex($jc: space-between);
    width: 100%;
    font-size: 18px;
    height: 30px;
    .bullet {
        margin-left: 10px;
    }
    .quantity {
        margin: 0 8px;
    }
    .name {
        width: 50%;
    }
    .buttons {
        @include dFlex();
        gap: 16px;
        margin-right: 4px;
        svg {
            border-radius: 2px;
            padding: 2px;
            &:hover {
                background-color: #39603966;
                border-radius: 5px;
            }
            &:active {
                path {
                    fill: #FFFEFE;
                }
            }
        }
    }
}