@import "./../../../styles.scss";

:host {
    @include dFlex(center);
}

section {
    @include dFlex($jc: flex-start);
    @include contentLimit($header-height);
    img:hover {
        cursor: pointer;
    }
}

@media (max-width: $mobile-width) {
    section {
        height: unset;
        padding: 12px 16px 8px 16px;
        img {
            height: 32px;
            width: 95px;
        }
    }
}