<section>
    <div class="text-grid">
        <div class="empty"></div>
        <div class="cooking-time">
            <img src="/assets/images/collection/clock.png" alt="">
            <span>Cooking time: 20min</span>
        </div>
        <span>{{index}}</span>
        <p>{{recipe.title}}</p>
    </div>
    <div class="labels">
        <span>Vegetarian</span>
        <span>Quick</span>
        <div class="likes">
            <img src="/assets/images/recipe/like.png" alt="">
            <span>66</span>
        </div>
    </div>
</section>