@import "./../../../styles.scss";

*:hover {
    cursor: pointer;
}

p {
    font-size: 28px;
    color: #1E5515;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}

.image-div {
    width: 400px;
    height: 400px;
    overflow: hidden;
}

img:hover {
    transform: scale(1.1);
}

@media (max-width: $mobile-width) {
    section {
        .image-div {
            width: 100%;
            height: auto;
            overflow: visible;
            img {
                width: 100%;
            }
        }
    }
}