<section>
    <div class="text">
        <div class="header">
            <h2>AI-Powered recipe generator</h2>
            <h1>Code à Cuisine</h1>
            <button routerLink="/generate-recipe" routerLinkActive="">Get started</button>
        </div>
        <div class="cookbook-link">
            <span>Hungry for inspiration?</span>
            <button routerLink="/cookbook">Go to cookbook
                <img src="/assets/images/arrow-right.png" alt="">
            </button>
        </div>
    </div>
    <div class="dishes">
        <img class="dish1" src="/assets/images/hero-dish1.png" alt="">
        <img class="dish2" src="/assets/images/hero-dish2.png" alt="">
        <img class="dish3" src="/assets/images/hero-dish3.png" alt="">
    </div>
</section>