@import "./../../styles.scss";

:host {
    @include dFlex($ai: flex-start);
    height: calc(100vh - $header-height);
}

section {
    @include dFlex($jc: space-around, $ai: flex-start);
    @include contentLimit(100%);
    flex-direction: column;
    max-height: 1145px;
    position: relative;
    >*:not(.dishes) {
        z-index: 10;
    }
}

.header {
    h1 {
        font-size: 104px;
        font-family: Ubuntu;
        font-weight: bold;
        color: $primary-font-color;
        margin: 0;
    }
    h2 {
        font-size: 48px;
        font-weight: 600;
        color: #F5F5DC;
        margin: 0;
    }
    button {
        font-size: 24px;
        font-weight: 600;
        color: #008000;
        padding: 16px 26px;
        margin-top: 64px;
        border: none;
        background-color: $primary-font-color;
        &:hover {
            background-color: #FAE0C6;
            font-weight: bold;
        }
    }
}

.dishes {
    position: absolute;
    top: 0;
    right: 0;
    width: 480px;
    height: 100vh;
    transform: translateY(-136px);
    overflow: hidden;
    img {
        position: absolute;
        width: 470px;
    }
    .dish1 {
        top: -100px;
    }
    .dish2 {
        top: calc(470px / 3*2 - 100px);
    }
    .dish3 {
        top: calc((470px / 3*2) + (470px / 3*2) - 100px);
    }
}

.cookbook-link {
    @include dFlex($jc: flex-start);
    gap: 20px;
    margin-bottom: 20px;
    span {
        font-size: 32px;
        font-family: Ubuntu;
        color: $primary-font-color;
    }
    button {
        font-size: 20px;
        color: $primary-font-color;
        background: none;
        border: none;
        padding: 16px 26px;
        white-space: nowrap;
        &:hover {
            background-color: #607A56;
        }
    }
}

@media (max-width: 1180px) {
    .dishes {
        width: 350px;
    }
}

@media (max-width: 1050px) {
    .dishes {
        width: 200px;
    }
}

@media (max-width: $mobile-width) {
    :host {
        height: calc(100vh - 50px);
    }

    section {
        height: 100%;
        max-height: 800px;
        padding: 0 10px;
        position: unset;
        .text {
            max-height: 700px;
        }
    }

    .header {
        margin-top: 50px;
        h1 {
            font-size: 64px;
        }
        h2 {
            font-size: 24px;
        }
        button {
            font-size: 16px;
        }
    }

    .cookbook-link {
        min-width: 0;
        flex-direction: column;
        margin-bottom: 20px;
        span {
            font-size: 24px;
            text-align: center;
        }
        button {
            font-size: 18px;
            text-align: center;
            padding: 0;
        }
    }

    .dishes {
        transform: translateY(0);
        width: 130px;
        img {
            width: 295px;
        }
        .dish1 {
            top: 0;
        }
        .dish2 {
            top: calc(295px / 5*4);
        }
        .dish3 {
            top: calc((295px / 5*4) + (295px / 5*4));
        }
    }
}