<section>
    <div class="heading">
        <img src="/assets/images/recipe/instructions.png" alt="">
        <h1>Instructions</h1>
    </div>
    <div class="grid-container">
        <div class="step" *ngFor="let step of data; let i = index">
            <div class="head">
                <span class="number">{{i + 1}}</span>
                <span class="title">{{step.title}}</span>
                <div [class.chef2]="i % 2 == 1" class="chef1">
                    <img src="/assets/images/recipe/chef1.png" alt="">
                    <span *ngIf="(i - 1) % 2 == 1 || i == 0">Chef 1</span>
                    <span *ngIf="i % 2 == 1">Chef 2</span>
                </div>
            </div>
            <p>{{step.description}}</p>
        </div>
    </div>
    <div class="like-box">
        <span class="first">Just finished this meal?</span>
        <span class="second">Give it a heart, so that the others know this is delicious.</span>
        <button><img [src]="imageSrc" (click)="toggleSrc()" alt=""></button>
    </div>
</section>