@import "./../styles.scss";

:host {
    display: block;
    min-height: 100vh;
}

.buttons {
    position: absolute;
    top: 0;
    left: 0;
    button {
        padding: 20px;
        font-weight: bold;
        font-size: 32px;
    }
}