<section>
    <div class="description">
        <div class="cooking-time">
            <img src="/assets/images/recipe/clock.png" alt="">
            <span>Cooking time: {{minutes}}</span>
        </div>
        <h1>{{data.title}}</h1>
        <div class="persons">
            <span>Cooking person: {{data.persons}}</span>
            <div class="chef1">
                <img src="/assets/images/recipe/chef1.png" alt="">
                <span>Chef 1</span>
            </div>
            <div class="chef2">
                <img src="/assets/images/recipe/chef2.png" alt="">
                <span>Chef 2</span>
            </div>
        </div>
    </div>
    <div class="nutrition">
        <div class="tags">
            <span>{{data.diet}}</span>
            <span>{{data.cookingTime}}</span>
            <div class="likes">
                <img src="/assets/images/recipe/like.png" alt="">
                <span>{{data.likes}}</span>
            </div>
        </div>
        <div class="info">
            <p>Nutritional information</p>
            <div class="stats">
                <div class="stat">
                    <span class="name">Energie</span>
                    <span class="amount">{{data.nutrition.energy}}kcal</span>
                </div>
                <div class="stat">
                    <span class="name">Protein</span>
                    <span class="amount">{{data.nutrition.protein}}g</span>
                </div>
                <div class="stat">
                    <span class="name">Fat</span>
                    <span class="amount">{{data.nutrition.fat}}g</span>
                </div>
                <div class="stat">
                    <span class="name">Carbs</span>
                    <span class="amount">{{data.nutrition.carbs}}g</span>
                </div>
            </div>
        </div>
    </div>
</section>