@import "../../styles.scss";

:host {
    @include dFlex();
}

section {
    @include dFlex();
    @include contentLimit();
    flex-direction: column;
    * {
        font-weight: 500;
    }
}

.collection {
    @include dFlex();
    @include contentLimit($padX: 140px);
    flex-direction: column;
    gap: 60px;
    header {
        @include dFlex();
        position: relative;
        width: 100%;
        height: 100px;
        img {
            position: absolute;
            width: 100%;
        }
        h1 {
            position: relative;
            font-size: 32px;
            color: #1E5515;
            font-weight: 600;
        }
    }
    .generate-button {
        @include dFlex($jc: flex-end);
        width: 100%;
        button {
            padding: 16px 26px;
            background-color: #396039;
            color: #FAF0E6;
            font-weight: 600;
            font-size: 24px;
            border: none;
            white-space: nowrap;
            &:hover {
                background-color: #055E05;
                font-weight: bold;
                color: white;
            }
        }
    }
    .list {
        @include dFlex($jc: flex-start);
        flex-direction: column;
        gap: 8px;
        height: 1100px;
    }
}

.back {
    @include dFlex($jc: flex-start);
    width: 100%;
    gap: 10px;
    *:hover {
        cursor: pointer;
    }
    span {
            font-size: 14px;
            color: #1E5515;
    }
}

.pagination {
    display: flex;
    gap: 24px;
    button {
        color: #10310B;
        font-size: 18px;
        padding: 0 8px;
        border: none;
        border-radius: 2px;
        background: none;
        &:hover {
            cursor: pointer;
            background-color: #D7DFD7;
        }
        &.active {
            font-weight: bold;
            background-color: #D7DFD7;
        }
        &[disabled] {
            cursor: default;
        }
    }
}

@media (max-width: $mobile-width) {
    section {
        padding: 0 16px;
        .back {
            margin-top: 8px;
        }
        .collection {
            width: unset;
            padding: 0;
            gap: 30px;
            margin-top: 30px;
            header {
                h1 {
                    font-size: 18px;
                }
            }
            .list {
                height: unset;
                gap: 32px;
            }
            .pagination {
                margin: 10px 0;
            }
            .generate-button {
                justify-content: center;
                margin-bottom: 30px;
                button {
                    font-size: 16px;
                }
            }
        }
    }
}