@font-face {
    font-family: Quicksand;
    src: url("./assets/Quicksand-VariableFont_wght.ttf");
}

@font-face {
    font-family: Ubuntu;
    src: url("./assets/Ubuntu-Regular.ttf");
}

@mixin dFlex($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin contentLimit($height: unset, $padY: 0px, $padX: 60px) {
    height: $height;
    width: 100%;
    max-width: calc(1440px - $padX * 2);
    padding: $padY $padX;
}

$primary-font-color: #FAF0E6;
$header-height: 136px;
$background-green: #396039;
$background-white: #FFFFFF;

.bg-green {
    background-color: $background-green;
}

.bg-white {
    background-color: $background-white;
}

body {
    margin: 0;
    * {
        font-family: Quicksand;
        transition: all 0.2s ease-in-out;
    }
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

h1, h2, h3, p, span {
    &:hover {
        cursor: default;
    }
}

input:focus {
    outline: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
